includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    paths:
        - app
        - routes

    level: max

    scanFiles:
        - bootstrap/app.php
